:root {
  --bg-color: #51274f;
  --bg-gradient: linear-gradient(225deg, #51274f 0%, #784BA0 100%, #2B86C5 100%);
  --bg-zaptalk: #1e1e1e;
  --bg-main: #1e1e1e;
  --bg-message-box: #50445991;
  --bg-input-message: #494949;
  --header: #757575;
  --paragraph: rgb(203, 190, 190);
}

body {
background-color: var(--bg-color);
background-image: var(--bg-gradient) no-repeat;
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
width: 100vw;
overflow: hidden;
margin: 0 auto;
}

/* Principal Container */

.container-zaptalk {
  width: 85%;
  height: 95%;
  border-radius: 5px;
  background-color: var(--bg-zaptalk);
  display: grid;
  grid-template-columns: 1fr 2fr;
  box-shadow: 0px 0px 20px 2px black ;
}

/* Main */

.content-main {
  background-color: var(--bg-main);
  display: flex;
  justify-content: center;
  border-left: 1px solid black;
  flex-direction: column;
  
  align-items: center;

  max-height: 100vh;
}

.header-profile {
  background-color: var(--header);
  width: 100%;
  height: 50px;

  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  gap: 85%;
}

/* Material Icons Main */

.header-profile .face-icon {
  font-size: 50px;
}

.header-profile .menu-main-icon {
  font-size: 2rem;
}

.sent-box .sent-icon {
  font-size: 3rem;
}

.sent-box .anexo-icon {
  font-size: 3rem;
}

.conversation-box .face-profile {
  font-size: 2.5rem;
  
}

.material-symbols-outlined {
  cursor: pointer;
}



/* Message Input box area */

.message-box-display {
  background-color: var(--bg-message-box);
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 5px 0px rgb(95, 93, 93) ;
  overflow: auto; 
}

.sent-box {
  background-color: var(--bg-input-message);
  width: 100%;
  height: 100px;
  
  
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  
}

.sent-box .message {
  width: 80%;
  padding: 1.5rem;
  background-color: #494949;
}

.message:focus {
  outline: 0;
}

/* Display-content main */

.message-box-display {
  margin: 1rem;
}


.conversation-box-friend{
  width: 50%;
  height: 50%;
  margin: 1rem;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.conversation-box-friend p {
  border: 1px solid #160b20;
  border-radius: 10px;
  padding: 1rem;
  color: var(--paragraph);
  font-family: Arial, Helvetica, sans-serif;
  
}

.conversation-box-user{
  width: 50%;
  height: 50%;
  margin-left: 49%;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.conversation-box-user p {
  border: 1px solid #160b20;
  border-radius: 10px;
  padding: 1rem;
  color: rgb(21, 21, 21);
  font-family: Arial, Helvetica, sans-serif;

  color: var(--paragraph);
}

.content-message {
  display: flex;
  flex-direction: column;
}


.conversation-profile span {
  margin-left: 95%;
}

.conversation-profile {
  background-color: var(--bg-color);
  
}